/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Main content styles */
main {
    padding: 20px;
    margin-left: 250px;
    min-height: 100%;
}

.header-item {
    color: #503bb8;
    text-decoration: underline;
}

.grid-container-admin-page {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'game-list history see-bank'
        'game-list history add-game'
        'game-list history import';
}

.grid-area-import {
    grid-area: import;
}

.grid-area-add-game {
    grid-area: add-game;
}

.grid-area-question-bank {
    grid-area: see-bank;
}

.grid-area-game-list {
    grid-area: game-list;
}

.grid-area-history {
    grid-area: history;
}

.scroll-box {
    overflow: auto;
    padding: 10px;
    height: 100vh;
}

.glassy {
    padding: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.234);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
}

#handleErrorsGrid {
    border-style: dotted;
    border-color: black;
    height: 100px;
    width: 300px;
}

.game-list {
    margin-bottom: 10px;
    text-decoration: underline;
}
