<div class="container">
    <h1>Page d'admin</h1>

    <div class="scroll-box">
        <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
    </div>
    <div id="menu-choix-admin">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-button id="createGameButton" (click)="onCreateButtonClick()">Créer un jeu</button>
            <button mat-button id="questionsData" (click)="onQuestionsButtonClick()">Voir les questions</button>
            <div>
                Importer un jeu
                <input type="file" accept=".json" (change)="onFileSelected($event)" />
                <input type="button" id="importGameButton" (click)="onImportButtonClick()" value="Importer le jeu" />
            </div>
        </mat-menu>
    </div>
</div>
