.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

#sidebar {
    flex-basis: 350px;
    min-width: 200px;
}

.scroll-box {
    width: 35%;
    height: 100vh;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#handleErrorsGrid {
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 353.19px;
}
