<app-nav-bar></app-nav-bar>

<main>
    <mat-grid-list cols="4" rowHeight="50vh">
        <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightblue'">
            <div id="grid-container">
                <section id="question-container">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h2>Question en cours</h2>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <h3>{{ this.currentQuestion.text }}</h3>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions align="end">
                            <button mat-button [disabled]="true">
                                <h4>{{ this.currentQuestion.points }} points.</h4>
                            </button>
                            <br />
                            <button mat-button [disabled]="true">
                                <h4>{{ countdown }}s</h4>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card-actions align="end">
                        <button mat-button>
                            <h3 class="pause-button">Pause Compteur</h3>
                        </button>
                        <button mat-button>
                            <h3 class="panic-button">Mode Panique</h3>
                        </button>
                        <button mat-button>
                            <h3 class="confirm-text">prochaine question</h3>
                        </button>
                    </mat-card-actions>
                </section>
            </div>
            <!-- <app-play-area></app-play-area> -->
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'green'">
            <app-sidebar> </app-sidebar>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'yellow'">
            <h1>Liste des joueurs</h1>
            <div *ngFor="let player of players">
                <p>{{ player.name }}</p>
                <p>Score : {{ player.score }}</p>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'violet'">
            <h1>Zone Statistiques</h1>
        </mat-grid-tile>
    </mat-grid-list>
</main>

<footer class="footer-item">
    <h4 class="team-name">Équipe 312</h4>
    <p>
        <span>Abdul</span>, <span>Alex</span>, <span>Gabriel</span>, <span>Félix</span>, <span>Rayane</span>,
        <span>Youva</span>
    </p>
</footer>
