<app-nav-bar></app-nav-bar>

<main>
    <button mat-button class="panic-button" (click)="onLocationChange()">Quitter la partie</button>
    <mat-grid-list cols="4" rowHeight="50vh">
        <mat-grid-tile #controlsTile *ngIf="!gradingAnswers" [colspan]="3" [rowspan]="1">
            <div id="grid-container">
                <section id="question-container">
                    <mat-card *ngIf="currentQuestion" class="glassy">
                        <mat-card-header class="glassy">
                            <mat-card-title>
                                <h2>Question en cours</h2>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <h3>{{ this.currentQuestion.text }}</h3>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions align="end">
                            <button mat-button [disabled]="true">
                                <h4>{{ this.currentQuestion.points }} points.</h4>
                            </button>
                            <br />
                            <button mat-button [disabled]="true">
                                <h4>
                                    <fa-icon [icon]="faClock"> </fa-icon>
                                    {{ time }}s
                                </h4>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card-actions align="end" class="glassy game-controls">
                        <button mat-button (click)="sendTimerControlMessage()" [disabled]="disableControls" class="pause-button">
                            Compteur
                            <fa-icon [icon]="timerPaused ? faPlay : faPause"></fa-icon>
                        </button>
                        <button mat-button (click)="activatePanicMode()" [disabled]="disableControls || inPanicMode" class="panic-button">
                            Mode Panique
                            <fa-icon [icon]="faBoltLightning"></fa-icon>
                        </button>
                        <button
                            *ngIf="!onLastQuestion && currentQuestion?.type === 'QCM'"
                            mat-button
                            (click)="notifyNextQuestion()"
                            [disabled]="disableControls || disableNextQuestion"
                            class="next-button"
                        >
                            prochaine question
                            <fa-icon [icon]="faForward"></fa-icon>
                        </button>
                        <button
                            *ngIf="currentQuestion?.type === 'QRL'"
                            mat-button
                            (click)="gradeAnswers()"
                            class="next-button"
                            [disabled]="disableControls || disableNextQuestion"
                        >
                            procéder à la correction
                            <fa-icon [icon]="faForward"></fa-icon>
                        </button>
                        <button *ngIf="onLastQuestion && currentQuestion?.type === 'QCM'" mat-button (click)="notifyEndGame()" class="confirm-button">
                            Terminer le jeu
                            <fa-icon [icon]="faForward"></fa-icon>
                        </button>
                    </mat-card-actions>
                </section>
            </div>
        </mat-grid-tile>

        <mat-grid-tile #gradingTile *ngIf="gradingAnswers" [colspan]="3" [rowspan]="1">
            <div>
                <mat-card *ngIf="currentQuestion && currentQRLAnswer" class="grading-container glassy">
                    <mat-card-header class="glassy">
                        <mat-card-title>
                            <h2>Correction des réponses</h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3>{{ this.currentQuestion.text }}</h3>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-subtitle class="player-name">
                        <h3>réponse de {{ currentQRLAnswer.author }}</h3>
                    </mat-card-subtitle>
                    <h3 class="player-answer">
                        {{ currentQRLAnswer.answer }}
                    </h3>
                    <mat-card-actions class="grading-controls">
                        <small>% des points accordé:</small>
                        <button mat-icon-button class="grade1" (click)="sendQRLGrade(0)">
                            <h3>0</h3>
                        </button>
                        <button mat-icon-button class="grade2" (click)="sendQRLGrade(0.5)">
                            <h3>50</h3>
                        </button>
                        <button mat-icon-button class="grade3" (click)="sendQRLGrade(1)">
                            <h3>100</h3>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile #sidebarTile [colspan]="1" [rowspan]="2">
            <app-sidebar> </app-sidebar>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="glassy">
                <h2 class="title">
                    <strong>Joueurs ‎ ‎</strong>
                    <fa-icon [icon]="faUserGroup"></fa-icon>
                </h2>
                <app-player-list *ngIf="displayPlayerList"></app-player-list>
            </div>
        </mat-grid-tile>

        <mat-grid-tile #statsTile [colspan]="2" [rowspan]="1">
            <div class="glassy">
                <h2 class="title">
                    <strong>Statistiques‎ ‎</strong>
                    <fa-icon [icon]="faChartSimple"></fa-icon>
                </h2>
                <ng-container *ngIf="statisticsData.length > 0 && statisticsData[questionIndex] && currentQuestion">
                    <app-bar-chart [labels]="currentQuestion.text" [datasets]="barChartData"></app-bar-chart>
                </ng-container>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</main>

<app-countdown-modal
    [showModal]="showCountDown"
    (modalClosed)="onCountDownModalClosed()"
    [message]="'Prochaine question dans'"
    [countdown]="3"
></app-countdown-modal>
