main {
    min-height: 100vh;
    margin-left: 200px;
}

// CSS pour les boutons

button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.game-controls button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pause-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pause-button:hover {
    background-color: #0056b3;
}

.next-button {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(15, 142, 32);
}

.next-button:hover {
    background-color: #05611c;
}

.panic-button {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: red;
}

.panic-button:hover {
    background-color: #701010;
}

.end-button {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(23, 5, 5);
}

// CSS Liste des joueurs et zone statistique

.title {
    color: white;
    text-decoration: underline;
    font-size: 15px;
    align-content: center;
}

.players-table {
    width: 100%;
    border-collapse: collapse;
}

.players-table th,
.players-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.grading-container {
    padding: 10px;
}

.player-name {
    padding: 10px;
}
.player-answer {
    background-color: rgba(223, 218, 218, 0.618);
    padding: 10px;
    border-radius: 10px;
}

.grading-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grade1 {
    background-color: salmon;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 15px;
    border-radius: 50px;
    color: black;
}
.grade2 {
    background-color: rgb(240, 240, 109);
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    color: black;
}
.grade3 {
    background-color: lightgreen;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    color: black;
}

.glassy {
    padding: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.547);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent; /* !important */
    border-radius: 1em;
    margin-bottom: 5px;
}

mat-card-subtitle h3 {
    color: #ffffff;
}

button h4 {
    color: #ffffff;
}

.game-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-and-stats-tile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}

.players-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
