main {
    min-height: 100vh;
    margin-left: 200px;
}

// CSS pour les boutons
.pause-button {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pause-button:hover {
    background-color: #0056b3;
}

.next-button {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(15, 142, 32);
}

.next-button:hover {
    background-color: #05611c;
}

.panic-button {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: red;
}

.panic-button:hover {
    background-color: #701010;
}

.end-button {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(23, 5, 5);
}

// CSS Liste des joueurs et zone statistique

.title {
    color: #007bff;
    text-decoration: underline;
    font-size: 24px;
    align-content: center;
}

.players-table {
    width: 100%; /* Largeur de la table */
    border-collapse: collapse; /* Fusion des bordures de cellules */
}

.leftGame {
    text-decoration: line-through;
}

.players-table th,
.players-table td {
    border: 1px solid black; /* Bordures des cellules */
    padding: 8px; /* Espacement intérieur des cellules */
    text-align: left; /* Alignement du texte à gauche */
}
