<app-nav-bar></app-nav-bar>

<main>
    <mat-grid-list cols="4" rowHeight="50vh">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div id="grid-container">
                <section id="question-container">
                    <mat-card *ngIf="currentQuestion">
                        <mat-card-header>
                            <mat-card-title>
                                <h2>Question en cours</h2>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <h3>{{ this.currentQuestion.text }}</h3>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions align="end">
                            <button mat-button [disabled]="true">
                                <h4>{{ this.currentQuestion.points }} points.</h4>
                            </button>
                            <br />
                            <button mat-button [disabled]="true">
                                <h4>{{ time }}s</h4>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card-actions align="end">
                        <button mat-button>
                            <h3 class="pause-button">Pause Compteur</h3>
                        </button>
                        <button mat-button>
                            <h3 class="panic-button">Mode Panique</h3>
                        </button>
                        <button mat-button (click)="showResults()" class="confirm-button">
                            <h3 class="confirm-text">montrer les résultats</h3>
                        </button>
                        <button mat-button (click)="notifyNextQuestion()" class="confirm-button">
                            <h3 class="confirm-text">prochaine question</h3>
                        </button>
                        <button mat-button (click)="notifyEndGame()" class="confirm-button">
                            <h3 class="confirm-text">terminer le jeu</h3>
                        </button>
                    </mat-card-actions>
                </section>
            </div>
            <!-- <app-play-area></app-play-area> -->
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <app-sidebar> </app-sidebar>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div *ngFor="let player of players">
                <p>{{ player.name }} : {{ player.score }} points</p>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <ng-container *ngIf="statisticsData.length > 0 && statisticsData[questionIndex] && currentQuestion">
                <app-bar-chart [labels]="currentQuestion.text" [datasets]="barChartData"></app-bar-chart>
            </ng-container>
        </mat-grid-tile>
    </mat-grid-list>
</main>

<footer class="footer-item">
    <h4 class="team-name">Équipe 312</h4>
    <p>
        <span>Abdul</span>, <span>Alex</span>, <span>Gabriel</span>, <span>Félix</span>, <span>Rayane</span>,
        <span>Youva</span>
    </p>
</footer>
<app-countdown-modal [showModal]="showCountDown" (modalClosed)="onCountDownModalClosed()"></app-countdown-modal>
