<main>
    <h1 class="header-item"><strong>Banque de questions</strong></h1>
    <div class="grid-container-question-bank">
        <div class="questions-list-column">
            <h2>
                Questions
                <button mat-icon-button (click)="openDialog()" name="add-question" class="add-button">
                    <mat-icon>library_add</mat-icon>
                </button>
            </h2>
            <mat-button-toggle-group multiple>
                <mat-button-toggle value="QCM" (click)="toggleQuestionType('QCM')"
                    [checked]="selectedTypes.has('QCM')">QCM</mat-button-toggle>
                <mat-button-toggle value="QRL" (click)="toggleQuestionType('QRL')"
                    [checked]="selectedTypes.has('QRL')">QRL</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-accordion>
                <p *ngIf="!displayQuestions?.length">Aucune question à afficher</p>
                <div class="scrollable-container">
                    <div *ngFor="let question of displayQuestions; index as order">
                        <app-admin-question [question]="question" [index]="order + 1" [editable]="true"
                            [showModificationDate]="true"></app-admin-question>
                    </div>
                </div>
            </mat-accordion>
        </div>
    </div>
</main>