.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

#sidebar {
    flex-basis: 350px;
    min-width: 200px;
}

.scroll-box {
    width: 65%;
    height: 100vh;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    gap: 5px;
}
