<app-nav-bar></app-nav-bar>

<main>
    <div class="container">
        <!-- <section class="play-area-container">
            <app-play-area class="play-area" tabindex="0"></app-play-area>
        </section> 
        <app-sidebar id="sidebar"></app-sidebar>
    -->

        <input type="text" #roomInput placeholder="Enter room name" />
        <button (click)="socketService.createRoom(roomInput.value)">Create Room</button>
    </div>
</main>

<footer class="footer-item">
    <h4 class="team-name">Équipe 312</h4>
    <p>
        <span>Abdul</span>, <span>Alex</span>, <span>Gabriel</span>, <span>Félix</span>, <span>Rayane</span>,
        <span>Youva</span>
    </p>
</footer>
