body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    max-height: 150px;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin: 0;
}

.glassy {
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.547);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;

    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 33%;
}

.example-form h2 {
    text-align: center;
    color: #efeaea;
    margin-bottom: 1.5rem;
}

.mat-form-field {
    margin-bottom: 1rem;
}

.example-full-width {
    max-height: 90px;
    width: 500px;
}

input,
button {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

button {
    background-color: #503bb8;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0cap;
}

button.join-room-button {
    color: white;
}

button:hover {
    background-color: hsl(203, 90%, 12%);
}

.decorative-element {
    text-align: center;
    margin-top: 1rem;
}

.decorative-element img {
    height: 100px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: larger;
    border-radius: 30%;
    align-self: center;
}

.input-example {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.mat-form-field {
    flex: 1;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 1rem;
    }

    .header {
        margin-bottom: 1rem;
    }

    .example-form {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .top-right-corner {
        flex-direction: column;
        align-items: flex-end;
        right: 10px;
    }

    .top-links {
        margin-top: 10px;
    }
}
