body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    bottom: 0;
}

.example-form h2,
button,
.top-links a,
.top-right-corner a {
    font-family: 'Poppins', sans-serif;
}

.header img {
    max-height: 150px;
}

.main-content {
    margin-left: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin: 0;
}

.example-form {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 33%;
}

.example-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.mat-form-field {
    margin-bottom: 1rem;
}

.example-full-width {
    max-height: 90px;
    width: 500px;
}

.example-full-width input {
    margin-left: 35%;
    font-size: larger;
}

input,
button {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

button {
    background-color: #503bb8;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.join-room-button {
    color: white;
}

button:hover {
    background-color: hsl(203, 90%, 12%);
}

.decorative-element {
    text-align: center;
    margin-top: 1rem;
}

.decorative-element img {
    height: 100px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.mat-form-field {
    flex: 1;
    margin-right: 0.5rem;
}

.right-side-image {
    height: 80px;
    margin-left: 10%;
    margin-bottom: 10%;
}

.top-right-corner {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right-corner p {
    margin-right: 17%;
}

.top-links a {
    display: block;
    text-decoration: none;
    color: #4a4a4a;
    margin: 5px 0;
    font-size: 0.9rem;
    margin-right: 70px;
}

.top-links a:hover {
    color: #3498db;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 45px;
    margin-left: -20px;
    margin-top: 15px;
}

.logo h1 {
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 1rem;
    }

    .header {
        margin-bottom: 1rem;
    }

    .example-form {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .top-right-corner {
        flex-direction: column;
        align-items: flex-end;
        right: 10px;
    }

    .top-links {
        margin-top: 10px;
    }
}
