html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.router-outlet {
    flex: 1;
}

#grad {
    background-image: linear-gradient(to top, #503bb8, transparent);
    min-height: 100%;
}
