.footer-item {
    background: #503bb8;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(to top, #503bb8, transparent);
}

.footer-item h4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #28a745;
}

.footer-item p span:nth-child(even) {
    color: #ffc107;
}

.footer-item p span:nth-child(odd) {
    color: #17a2b8;
}
