/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #555;
}

#nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

#nav-bar img {
    max-height: 50px;
}

/* Main content styles */
main {
    padding: 20px;
}

.container {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    background-color: #007bff; /* Bleu */
    color: white;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}

/* Footer styles */
.footer-item {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top: 1px solid #555;
    text-align: center;
}

.footer-item h4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #28a745; /* Vert */
}

.footer-item p span:nth-child(even) {
    color: #ffc107; /* Jaune */
}

.footer-item p span:nth-child(odd) {
    color: #17a2b8; /* Bleu cyan */
}

/* Server message section styles */
#server-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.server-message button {
    margin-top: 10px;
}

/* Header item styles */
.header-item {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #007bff; 
}

/* Team name styles */
.team-name {
    color: #28a745; 
}

/* Adjustments for inputs */
input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da; 
    border-radius: 5px; 
}

input:focus {
    border-color: #007bff; 
    outline: none;
}
