<header class="header">
    <div class="wrapper">
        <div class="sidebar">
            <a href="#">
                <img src="https://media.tenor.com/SR-cTfYOv14AAAAi/flash-flash-bang.gif" class="Logo-Projet" />
            </a>
            <ul>
                <li>
                    <a style="text-decoration: none" (click)="createGame()" routerLink="/createGame"><i
                            class="fas fa-blog"></i>Créer une partie</a>
                </li>
                <li>
                    <a style="text-decoration: none" (click)="home()" routerLink="/home"
                        [queryParams]="{ init: 'true' }">
                        <i class="fas fa-address-book"></i>Rejoindre une partie
                    </a>
                </li>
                <li>
                    <a><app-admin-button></app-admin-button></a>
                </li>
            </ul>
        </div>
    </div>
</header>