body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #503bb8;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #1e1e22;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.Logo-Projet {
    height: auto;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-zz {
    height: auto;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.router {
    text-decoration: none;
}
