<section class="main-container">
    <mat-card class="game-card">
        <mat-card-content>
            <div class="space-between">
                <h1>
                    {{ game.title }}
                    <ng-container *ngIf="this.player.isHost"> &nbsp;&nbsp;&nbsp;&nbsp;Pin : {{ room }} </ng-container>
                </h1>
                <button mat-fab color="warn" (click)="leaveRoom()"><mat-icon>exit_to_app</mat-icon></button>
            </div>
            <h2>Nom d'utilisateur : {{ player.name }}</h2>
        </mat-card-content>
        <br />
        <mat-card-actions *ngIf="player.isHost" class="space-around">
            <button mat-stroked-button color="primary" (click)="startGame()">Commencer la partie</button>
            <ng-container *ngIf="roomLocked; else roomUnlocked">
                <button mat-button (click)="unlock()"><mat-icon [inline]="true">lock</mat-icon></button>
            </ng-container>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngFor="let play of players" class="player-card">
        <mat-card-content class="space-between">
            <h2>Joueur : {{ play.name }}</h2>
            <button *ngIf="this.player.isHost" mat-button color="warn" (click)="kickPlayer(play.name)"><mat-icon>block</mat-icon></button>
        </mat-card-content>
    </mat-card>
</section>

<ng-template #roomUnlocked>
    <button mat-button (click)="lock()"><mat-icon [inline]="true">lock_open</mat-icon></button>
</ng-template>
