body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game-list {
    width: 100%;
    max-width: 800px;
}

mat-expansion-panel {
    border: 1px dashed blue;
    margin-bottom: 20px;
}

mat-expansion-panel mat-expansion-panel-header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mat-expansion-panel-selected {
    background-color: #e0e0e0;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button.mat-fab {
    border: 1px solid black;
    margin-right: 10px;
    background-color: #004a9a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.mat-panel-title a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.glassy {
    padding: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.234);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent;
    border-radius: 1em;
}

.bold {
    font-weight: bold;
}
