/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Styles for the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Styles for the list of games */
.game-list {
    width: 100%;
    max-width: 800px; /* Adjust based on your design */
}

/* Styles for each game panel */
mat-expansion-panel {
    border: 1px dashed blue;
    margin-bottom: 20px;
}

/* Style for the header within mat-expansion-panel */
mat-expansion-panel mat-expansion-panel-header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Style for selected panel */
.mat-expansion-panel-selected {
    background-color: #e0e0e0;
}

/* Styles for the button-row */
.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Styles for mat-fab buttons */
button.mat-fab {
    border: 1px solid black;
    margin-right: 10px;
    background-color: #004a9a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Apply styles to the anchor tag within the mat-panel-title */
.mat-panel-title a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/* remove hover effect for better user interaction */
// .mat-expansion-panel-header:hover {
//     background-color: #f0f0f0;
// }

.glassy {
    padding: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.234);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
}

.bold {
    font-weight: bold
}
