<body>
    <div *ngFor="let game of gameService.games">
        <mat-expansion-panel hideToggle (click)="selectGame(game)" (click)="check(getSelectedGame())">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <a [title]="game.title + ' details'">
                        {{ game.title }}
                    </a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <strong>Détails du jeu</strong>

            <p>Description du jeu: {{ getSelectedGame().description }}</p>
            <p>Temps alloué pour répondre : {{ getSelectedGame().duration }} secondes</p>

            <p>Liste des questions du questionnaire </p>
            <ul>
                <li *ngFor="let question of getSelectedGame().questions">
                    {{ question }}
                </li>
            </ul>

            <div class="button-row">
                <!-- Ajouter une condition pour vérifier si le mode de jeu est le mode aléatoire,si oui, désactiver le 
                bouton "tester le jeu" -->
                <button mat-fab extended color="primary" [routerLink]="['/playArea', getSelectedGame().id]"
                    (click)="check(getSelectedGame())">
                    Tester le jeu
                </button>

                <button mat-fab extended color="primary" routerLink="/waiting" (click)="check(getSelectedGame())">
                    Lancer une partie
                </button>
            </div>


        </mat-expansion-panel>

    </div>
</body>