<div *ngFor="let game of games">
    <mat-expansion-panel hideToggle (click)="selectGame(game)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <a [title]="game.title + ' details'">
                    {{ game.title }}
                </a>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!game.unavailable; else unavailableMessage">
            <strong>Détails du jeu</strong>

            <p>Description du jeu: {{ game.description }}</p>
            <p>Temps alloué pour répondre : {{ game.duration }} secondes</p>

            <p>Liste des questions du questionnaire</p>
            <ul>
                <li *ngFor="let question of game.questions">
                    {{ question.text }}
                </li>
            </ul>

            <div class="button-row">
                <!-- Pour le Sprint 3 : Ajouter une condition pour vérifier si le mode de jeu est le mode aléatoire,si oui, désactiver le 
                    bouton "tester le jeu" -->
                <button
                    mat-fab
                    (click)="launchTestGame(game)"
                    extended
                    color="primary"
                    [routerLink]="['/game', game.id]"
                    [queryParams]="{ testMode: 'true' }"
                >
                    Tester le jeu
                </button>

                <button mat-fab (click)="launchGame(game)" extended color="primary" [routerLink]="['/hostView', game.id]">Lancer une partie</button>
            </div>
        </div>
        <ng-template #unavailableMessage>
            <p>Ce jeu est actuellement indisponible, veuillez en sélectionner un autre.</p>
        </ng-template>
    </mat-expansion-panel>
</div>
