<!-- Le matSortDisableClear empêche de désactiver le tri, 
    c'est pas explicitement demandé mais possible d'ajouter
    une option pour désactiver le tri, comme dans le code ici
    https://material.angular.io/components/sort/overview -->
<table matSort [matSortDisableClear]="true" (matSortChange)="sortData($event)" aria-label="Player List">
    <tr>
        <th mat-sort-header="name">Nom</th>
        <th mat-sort-header="score">Score</th>
        <th mat-sort-header="state">Réponse</th>
        <th>Clavardage</th>
    </tr>
    <tr *ngFor="let player of playerService.playersInGame">
        <td [ngClass]="getStyle(player)">
            <s *ngIf="!player.color" [ngClass]="{ leftGame: player.leftGame }"> {{ player.name }} </s>
            <div *ngIf="player.color" [ngClass]="{ leftGame: player.leftGame }">{{ player.name }}</div>
        </td>
        <td>{{ player.score.toFixed(2) }}</td>
        <td>{{ colorToState(player.color) }}</td>
        <td *ngIf="!player.leftGame">
            <button mat-button *ngIf="player.chatEnabled" (click)="excludeFromChat(player)">
                <fa-icon [icon]="faComment"></fa-icon>
            </button>
            <button mat-button *ngIf="!player.chatEnabled" (click)="includeInChat(player)">
                <fa-icon [icon]="faCommentSlash"></fa-icon>
            </button>
        </td>
    </tr>
    <mat-divider></mat-divider>
</table>