/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Main content styles */
main {
    padding: 20px;
    margin-left: 250px;
    min-height: 88%;
}

.header-item {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #503bb8;
}

app-game-list {
    align-items: center;
    text-align: center;
}

/* Header item styles */
.header-item {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #007bff;
}

/* Team name styles */
.team-name {
    color: #28a745;
}

/* Adjustments for inputs */
input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}
