<header class="header">
    <div class="wrapper">
        <div class="sidebar">
            <a href="#">
                <img src="../../../assets/img/Qui(ck)zz_Icon.png" class="Logo-Projet" />
            </a>
            <ul>
                <li><a style="text-decoration:none" href="#"><i class="fas fa-home"></i>Accueil</a></li>
                <li><a style="text-decoration:none" routerLink="/createGame"><i class="fas fa-blog"></i>Créer une
                        partie</a></li>
                <li><a style="text-decoration:none" routerLink="/game"><i class="fas fa-address-book"></i>Rejoindre
                        une
                        partie</a></li>
                <li><a style="text-decoration:none" routerLink="/admin"><i class="fas fa-map-pin"></i>Administrer les
                        jeux</a></li>
            </ul>
        </div>
    </div>
</header>


<main>
    <h1 class="header-item">Créer une partie " Qui(ck)zz "</h1>
    <app-game-list></app-game-list>
</main>

<footer class="footer-item">
    <h4 class="team-name">Équipe 312</h4>
    <p><span>Abdul</span>, <span>Alex</span>, <span>Gabriel</span>, <span>Félix</span>, <span>Rayane</span>,
        <span>Youva</span>
    </p>
</footer>