<div class="container">
    <div><h1>Créer un quiz</h1></div>
    <form [formGroup]="gameForm">
        <div name="quiz-header-section">
            <div name="quiz-name-description" class="row-container">
                <mat-form-field class="base-input short-input">
                    <mat-label>Titre du quiz</mat-label>
                    <input matInput type="text" id="title" formControlName="title" />
                </mat-form-field>

                <mat-form-field class="base-input text-area">
                    <mat-label>Description:</mat-label>
                    <textarea matInput id="description" formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div name="qcm-duration">
                <mat-form-field class="base-input number-input">
                    <mat-label>Durée des QCM:</mat-label>
                    <input matInput type="number" id="durationInput" formControlName="duration" list="timeChoices" />
                </mat-form-field>
                <datalist id="timeChoices">
                    <option value="10"></option>
                    <option value="20"></option>
                    <option value="30"></option>
                    <option value="40"></option>
                    <option value="50"></option>
                    <option value="60"></option>
                </datalist>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div name="quiz-questions-section" class="questions-display">
            <div class="column-container">
                <h1>Questions</h1>
                <button mat-icon-button (click)="openDialog()" name="add-question" class="add-button">
                    <mat-icon class="add-icon">add</mat-icon>
                </button>
            </div>

            <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let question of questions">
                    <app-admin-question [question]="question"></app-admin-question>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div>
            <button (click)="saveQuiz()" name="save-game" [disabled]="!gameForm.valid || questions.length <= 0" class="save-button">
                Enregistrer le quiz
            </button>
        </div>
    </form>
</div>
