.container {
    height: 100%;
    padding: 15px;
}

.create-quiz-container {
    height: 100%;
}
.questions-bank-container {
    max-height: 100%;
    overflow-y: auto;
    border-left-color: rgba(128, 128, 128, 0.347);
    border-left-width: 1px;
    border-left-style: solid;
    right: 20px;
    top: 15px;
    position: absolute; 
}

.quiz-questions-container {
    max-height: 400px;
    width:90%;
    overflow-y: auto;
}
.row-container {
    display: flex;
    flex-direction: column;
}
.column-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-container {
    padding-top: 10px;
}

.questions-display {
    width: 700px;
}

.base-input {
    border-radius: 40px;
}
.short-input {
    width: 500px;
}

.text-area {
    width: 500px;
    max-height: 300px;
}

.add-button {
    background-color: rgb(105, 104, 104);
    margin-left: 5px;
}
.add-icon {
    color: rgb(84, 183, 84);
}

.save-button {
    background-color: rgb(84, 183, 84);
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
}

#sidebar {
    flex-basis: 350px;
    min-width: 200px;
}
