.container {
    padding: 20px
}

.row-container {
    display: flex;
    flex-direction: column;
}

.column-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.submit-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.choices-container {
    padding-left: 20px;
}

.delete-icon {
    color: red;
}


.select{
    border-radius: 20px;
}

.save-button {
    background-color: rgb(84, 183, 84);
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.choices-container {
    padding-top: 10px;
}

.is-correct-instruction{
    color: grey;
    font-style: italic;
}

.drag-icon {
    color: rgb(62, 62, 62);
}
.drag-icon:hover {
    cursor: grab;
}

small {
    color: red;
}
