<mat-sidenav-container class="container">
    <br />
    <div class="handle-scrolling">
        <div *ngFor="let message of messages">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <p>{{ message }}</p>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
            <br />
        </div>
    </div>
    <br />
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Clavardage</mat-label>
            <input #input matInput (keyup)="$event.stopPropagation(); handleKeyboardPress($event, input)"
                placeholder="Vous pouvez laisser un message ici" [value]="currentMessage" />
        </mat-form-field>
    </div>
</mat-sidenav-container>