main {
    display: flex;
    margin-left: 250px;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 800px;
    margin-left: 30%;
    margin-top: 100px;
}

.example-full-width {
    width: 100%;
}

#sidebar {
    flex-basis: 150px;
    width: 400px;
    position: absolute;
    right: 0px;
}

.main-container {
    overflow: auto;
    flex: 1 1 auto;
    max-width: 50%;
    margin-top: 50px;
}

.main {
    display: grid;
    outline: none;
}
