<div id="grad">

    <head>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap"
            rel="stylesheet" />
    </head>

    <div class="header">
        <img src="https://i.imgur.com/Ra73D5O.png" alt="QUICKZZ logo" />
    </div>

    <main>
        <div class="glassy example-form">
            <h2>Entrez le nom du joueur</h2>
            <form (ngSubmit)="sendUsername(input)">
                <div class="input-group">
                    <mat-form-field class="example-full-width">
                        <input #input matInput class="input-example" placeholder="Ex: Jean"/>
                    </mat-form-field>
                </div>
            </form>
            <button mat-button class="join-room-button" (click)="sendUsername(input)">Rejoindre la salle</button>
        </div>

        <div class="decorative-element">
            <img src="https://media.tenor.com/OTDlqAguqpEAAAAi/sonic-running.gif" alt="Decorative Element" />
        </div>
    </main>
</div>