main {
    display: flex;
    margin-left: 250px;
}

.glassy {
    backdrop-filter: blur(5px);
    background-color: rgba(6, 6, 54, 0.547);
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;

    $border: 1.5px;
    color: #fff;
    border: solid $border transparent;
    border-radius: 1em;

    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 33%;
}

.example-form h2 {
    text-align: center;
    color: #efeaea;
    margin-bottom: 1.5rem;
}

.example-full-width {
    max-height: 90px;
    width: 100%;
}

.example-full-width input {
    margin-left: 35%;
    font-size: larger;
    border-radius: 30%;
}

.example-full-width input {
    margin-left: 35%;
    font-size: larger;
    margin-bottom: 50px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

#sidebar {
    flex-basis: 150px;
    width: 400px;
    position: absolute;
    right: 0px;
}

.main-container {
    overflow: auto;
    flex: 1 1 auto;
    max-width: 50%;
}

.main {
    display: grid;
    outline: none;
}

.header img {
    margin-left: 43%;
    max-height: 150px;
}

.decorative-element {
    text-align: center;
    margin-top: 1rem;
}

.decorative-element img {
    height: 100px;
}

input,
button {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

button {
    background-color: #503bb8;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0cap;
}

button.join-room-button {
    color: white;
}

button:hover {
    background-color: hsl(203, 90%, 12%);
}
