<mat-expansion-panel
    [hideToggle]="question.type === 'QRL'"
    [ngClass]="{'container': true, 'question-type-qcm': question.type === 'QCM', 'question-type-qrl': question.type === 'QRL'}"
>
    <mat-expansion-panel-header>
        <mat-panel-title> {{index}} — {{ question.text }} </mat-panel-title>
        <mat-panel-description> {{question.type}}‎ ‎ {{question.points}} pts </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div *ngFor="let choice of question.choices" class="column-container">
        {{ choice.text }}
        <mat-icon *ngIf="choice.isCorrect === true" class="check-icon">check</mat-icon>
        <mat-icon *ngIf="choice.isCorrect === false" class="cross-icon">clear</mat-icon>
    </div>
</mat-expansion-panel>
