<mat-expansion-panel [ngClass]="{ container: true, 'question-type-qcm': question.type === 'QCM', 'question-type-qrl': question.type === 'QRL' }">
    <mat-expansion-panel-header>
        <mat-panel-title title="{{ question.text }}"> {{ index }} — {{ question.text }} </mat-panel-title>
        <mat-panel-description> {{ question.type }}‎ ‎ {{ question.points }} pts </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let choice of question.choices" class="column-container">
        {{ choice.text }}
        <mat-icon *ngIf="choice.isCorrect" class="check-icon">check</mat-icon>
        <mat-icon *ngIf="!choice.isCorrect" class="cross-icon">clear</mat-icon>
    </div>

    <div *ngIf="editable">
        <button mat-icon-button (click)="openDialog()" name="edit-question" class="edit-button">
            <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteQuestion(question)" name="delete-question" class="delete-button">
            <mat-icon class="delete-icon">delete</mat-icon>
        </button>
    </div>
</mat-expansion-panel>
