<div #main id="grid-container" class="main">
    <section id="question-container">
        <mat-card *ngIf="shouldRender(this.question.text)">
            <mat-card-header>
                <mat-card-title>
                    <h2>{{ this.question.text }}</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-button [disabled]="true">
                    <h4>{{ this.question.points }} points.</h4>
                </button>
                <br />
                <button mat-button [disabled]="true">
                    <h4>{{ time }}s</h4>
                </button>
            </mat-card-actions>
        </mat-card>
        <br />
        <mat-card>
            <mat-card-header>
                <mat-card-title class="column-container">
                    <p>Votre score : {{ this.playerScore }}</p>
                    <div *ngIf="showPoints" class="points-animation">
                        <p class="points-text">+{{ pointsGained }}</p>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-button (click)="handleAbort()">
                    <h3 class="abort-button">Abandonner</h3>
                </button>
                <button mat-button (click)="confirmAnswers(true); onFinalAnswer()" [disabled]="choiceDisabled" class="confirm-button">
                    <h3 class="confirm-text">Confirmer</h3>
                </button>
            </mat-card-actions>
        </mat-card>
    </section>

    <br />
    <mat-selection-list *ngIf="question.type === 'QCM'" #choices [disabled]="choiceDisabled">
        <div *ngFor="let choice of question.choices; let index = index; trackBy: trackByFunction">
            <mat-list-item
                (click)="!choiceDisabled && handleQCMChoice(choice.text)"
                (keydown)="!choiceDisabled && $event.stopPropagation(); !choiceDisabled && detectButton($event)"
                (keyup)="!choiceDisabled && $event.stopPropagation()"
                *ngIf="shouldRender(choice.text)"
            >
                <mat-list-option [ngClass]="getStyle(choice.text)" #option [selected]="isChoice(choice.text)">
                    <span>
                        Réponse #{{ index + 1 }} : <i> {{ choice.text }}</i>
                    </span>
                </mat-list-option>
            </mat-list-item>
        </div>
    </mat-selection-list>
    <mat-form-field *ngIf="question.type === 'QRL'" class="qrl-question">
        <div class="chars-left">{{ charsLeft }} caractères restants</div>
        <textarea
            matInput
            [disabled]="choiceDisabled"
            [(ngModel)]="qrlAnswer"
            [maxlength]="200"
            placeholder="Votre réponse"
            class="qrl-textarea"
            (input)="onQRLAnswerChange()"
        ></textarea>
    </mat-form-field>
</div>
<app-countdown-modal
    [showModal]="showCountDown"
    [countdown]="3"
    [message]="'Prochaine question dans'"
    (modalClosed)="onCountDownModalClosed()"
></app-countdown-modal>
